@import "fonts.scss";
@import "reset";
@import "main";

:root {
	--bg-main-gradient: linear-gradient(0deg, rgba(15,18,59,1) 0%, rgba(9,13,46,1) 59%, rgba(2,5,21,1) 100%);
  --bg-grid-items-gradient: linear-gradient(0deg, rgba(26,31,55,0) 0%, rgba(6,11,38,0.94) 100%);
  --bg-shadow: 3px 3px 5px rgba(88, 44, 255, 0.62), -3px -3px 5px rgba(175, 154, 253, 0.41);
	--warn-red: red;
  --success: green;
  --dark-blue: #1A1F37;
  --white: #ffffff;
  --main-blue: #0075FF;
}

body {
  font-family: 'Roboto', sans-serif;
  scrollbar-width: 0;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none!important;
}

.form-hover {
  &:focus {
    box-shadow: 3px 3px 5px rgba(88, 44, 255, 0.62), -3px -3px 5px rgba(175, 154, 253, 0.41), -1px -1px 5px rgba(175, 154, 253, 0.41) inset, 1px 1px 5px rgba(88, 44, 255, 0.62) inset!important;
  }
}

.button-hover {
  transition: background-color 0.5s ease-in-out 0s;
  &:hover {
    background-color: rgb(65, 139, 250) !important;
  }
}

.link-hover {
  &:hover {
    text-decoration: underline;
  }
}

.form-section {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 12px;
    backdrop-filter: blur(42px);
    box-shadow: var(--bg-shadow);
  }
}

.message-block {
  position: absolute;
  top: 65%;
  left: 5px;
  font-size: 0.875rem;
  color: var(--warn-red);
  &.success {
    color: var(--success)
  }
  &.reg {
    top: 73%;
  }
}


.bg-main {
	height: 100vh;
  overflow-x: hidden;
	background: var(--bg-main-gradient);
  &.image {
    padding: 20px;
    background-image: url("../assets/img/bg_main.png");
    background-position: 30% 100%;
  }
}

.header-nav {
	position: absolute;
	top: 30px;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	min-width: 50%;
	padding: 30px 25px 25px;
	transform: translate(-50%);
	border-radius: 20px;
	backdrop-filter: blur(42px);
  @media screen and (max-width: 768px) {
    min-width: 80%;
  }
	& > h4 {
		margin-bottom: 5px;
		text-transform: uppercase;
		color: #fff;
	}
	& > .nav-list {
		display: flex;
		align-items: center;
		gap: 20px;
		& > a {
			display: inline-block;
			margin-bottom: 5px;
			border-bottom: 1px solid transparent;
			text-transform: uppercase;
			color: #fff;
			transition: all 0.5s ease-in-out 0s;
			&:hover, &.active {
				color: #cccccc;
				border-bottom: 1px solid #cccccc;
			}
		}
	}
}

.image-container {
	object-fit: cover;
	& > img {
		width: 100%;
		height: 100%;
	}

}
